body {
  color: #222;
}
.main{
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 100%;
  font-size: 60px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  align-items: center;
}
.cllctv {
  position: fixed;
  display: block;
  background: url(../images/cllctvsmall.png) center center no-repeat round;
  bottom: 0px;
  right: 0px;
  margin-bottom: 24px;
  margin-right: 24px;
  width: 50px;
  height: 50px;
}
